<script>
  $(function() {
    $(".pieceDrag").draggable({
    });
    $(".pieceDrop").droppable({
      hoverClass: 'highlight',
      drop: Drop
      });

    function Drop(event, ui) {
      var p_id = $(ui.draggable).attr('id');
      var col_id = $(this).data('col-id');
      var row_id = $(this).parent().data('row-id');
      $.ajax({
        type: 'PUT',
        data: { piece_id: p_id, x_coordinate: col_id, y_coordinate: row_id },
        url: $(ui.draggable).data('update-url'),
        dataType: 'json'
        });
    };
  });

  Pusher.logToConsole = true;

  $(function() {
    var pusher = new Pusher('246b2d379d178a631a1f', {
      encrypted: true
    });

    var gameId = $('.pusherInfo').data('pusherinfo');

    var channel = pusher.subscribe(gameId);
    channel.bind('update-piece', function(data) {
      location.reload(true);
    });

    pusher.connection.bind('connecting', function() {
    $('div#status').text('Connecting to Pusher...');
});

pusher.connection.bind('connected', function() {
    $('div#status').text('Connected to Pusher!');
});
    pusher.connection.bind('failed', function() {
      $('div#status').text('Connection to Pusher failed :(');
    });
    channel.bind('subscription_error', function(status) {
      $('div#status').text('Pusher subscription_error');
    });
  });
 </script>

<h1> Here's your game</h1>
<br />
<h2 class="pusherInfo" data-pusherinfo=<%= "channel-#{@game.id}" %>><%= @game.name %></h2>
<table id="yey">
  <% 8.times.with_index do |row, row_index| %>
    <tr data-row-id=<%=row_index%>>
      <% 8.times.with_index do |col, col_index| %>
<!--         <td class="<%= "#{col}x#{row}" %>"> -->
        <td class="pieceDrop <%= "#{col}x#{row}" %>" data-col-id=<%=col_index%>>
          <% if @pieces.where(x_coordinate: col_index,\
                            y_coordinate: row_index).first.nil? == false %>
            <div class="pieceDrag" id="<%= @pieces.where(x_coordinate: col_index, y_coordinate: row_index).first.id%>" data-game-id=<%=@game.id%> data-update-url="<%= game_path(@game) %>">
              <%=@board[col_index][row_index]%>
            </div>
          <% end %>
        </td>
<!--       </td> -->
      <% end %>
    </tr>
  <% end %>
  <% if !@game.white_castling && @game.valid_castling_move?('white', 'king_side') %>
    <%= link_to "Click here to king side white castle", game_castling_move_path(id: @game.id, color: 'white', side: 'king_side'), method: :put %> 
  <% elsif !@game.white_castling && @game.valid_castling_move?('white', 'queen_side') %>
    <%= link_to "Click here to queen side white castle", game_castling_move_path(id: @game.id, color: 'white', side: 'queen_side'), method: :put %> 
    <% end %>
  <% if !@game.black_castling && @game.valid_castling_move?('black', 'king_side') %>
    <%= link_to "Click here to king side black castle", game_castling_move_path(id: @game.id, color: 'black', side: 'king_side'), method: :put %> 
  <% elsif !@game.black_castling && @game.valid_castling_move?('black', 'queen_side') %>
    <%= link_to "Click here to queen side black castle", game_castling_move_path(id: @game.id, color: 'black', side: 'queen_side'), method: :put %> 
<% end %>
</table>
