<h1> Here's your game</h1>
<br />
<h2><%= @game.name %></h2>

<table>
  <% 8.times.with_index do |row, row_index| %>
    <tr>
      <% 8.times.with_index do |col, col_index| %>
        <td class="<%= "#{col}x#{row}" %>">
          <% if @game.pieces.where(x_coordinate: col_index,\
                            y_coordinate: row_index).first.nil? == false %>
            <%=link_to @pieces[col_index][row_index], game_piece_path(@game, @game.pieces.where(x_coordinate: col_index, \
            y_coordinate: row_index).first.id)%>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <% if !@game.white_castling && @game.valid_castling_move?('white', 'king_side') %>
    <%= link_to "Click here to king side white castle", game_castling_move_path(id: @game.id, color: 'white', side: 'king_side'), method: :put %> 
  <% elsif !@game.white_castling && @game.valid_castling_move?('white', 'queen_side') %>
    <%= link_to "Click here to queen side white castle", game_castling_move_path(id: @game.id, color: 'white', side: 'queen_side'), method: :put %> 
    <% end %>
  <% if !@game.black_castling && @game.valid_castling_move?('black', 'king_side') %>
    <%= link_to "Click here to king side black castle", game_castling_move_path(id: @game.id, color: 'black', side: 'king_side'), method: :put %> 
  <% elsif !@game.black_castling && @game.valid_castling_move?('black', 'queen_side') %>
    <%= link_to "Click here to queen side black castle", game_castling_move_path(id: @game.id, color: 'black', side: 'queen_side'), method: :put %> 
<% end %>
</table>